// Định nghĩa các font chữ dùng chung

$base_font_size: 13px;
$base_font_title: 16px;
$base_font_subtitle: $base_font_size;

$medium_font_title: 24px;
$medium_font_subtitle: 16px;

$large_font_title: 32px;
$large_font_subtitle: 24px;

$base_font_weight: 500;
$medium_font_weight: 600;
$large_font_weight: 800;