// Định nghĩa các gap và space dùng chung

$gap_0: 4px;
$gap_1: 8px;
$gap_2: 12px;
$gap_3: 16px;
$gap_4: 24px;

$base_space: 4px;
$normal_space: 8px;
$normal_space_1: 10px;
$medium_space: 12px;
$medium_space_1: 16px;
$large_space: 20px;
$larger_space: 24px;